{% extends 'layout1.html' %}

{% block body %}
  <h1>Change Password</h1>


  <form action="" method="POST">
    <div class="form.group">
      <label>Old  Password</label>
      <input type="password" name="PASSWORD" class="form-control" value ={{request.form.PASSWORD}}>
      <label>New Password</label>
      <input type="password" name="CHANGE" class="form-control" value ={{request.form.CHANGE}}>
      <label>Confirm New Password</label>
      <input type="password" name="CONFIRM" class="form-control" value ={{request.form.CONFIRM}}>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
  {% endblock %}
