{% extends 'layout1.html' %}

{% block body %}
<div class ="content-section" style="width: auto; margin-top: 40px; margin-left: 50px">
  <h1 style="color: black">Change Password</h1>


  <form action="" method="POST">
    <div class="form.group" style="color: black; font-weight: bold; text-align: left">
      <label>Old  Password</label>
      <input type="password" name="PASSWORD" class="form-control" value ={{request.form.PASSWORD}}>
<br>
      <label>New Password</label>
      <input type="password" name="CHANGE" class="form-control" value ={{request.form.CHANGE}}>
<br>
      <label>Confirm New Password</label>
      <input type="password" name="CONFIRM" class="form-control" value ={{request.form.CONFIRM}}>
<br>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
  {% endblock %}
