{%extends 'layout1.html' %}
{% block body %}
  <h1 style="color: white"><span>Welcome {{ session.USERNAME}}!</span></h1>
  <a class="btn btn-success" href="/show">Fulfilled Requests</a>
  <hr>
  <table class="table table-border" style="color: white; font-size:18px; background-color: black">
   <thead style="font-weight: bold">
    <tr>

      <th>City</th>
      <th>Blood Group</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
   </thead>
  <tbody>
    {% for article in articles %}
    {% if article.verify ==0 %}
      <tr style="color: #5dade2">
        <td>{{article.CITY}}</td>
        <td>{{article.BLOOD_GROUP}}</td>
        <td>{{article.create_date}}</td>

        <td>
          <form action="{{url_for('delete_article',id=article.id, city =article.CITY,blood=article.BLOOD_GROUP)}}" method = "post" style="color: white">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" VALUE="Request Fulfilled?" class="btn btn-danger">
          </form>
          {% endif %}

        </td>
      </tr>
    {% endfor %}
</tbody>
</table
{% endblock %}
