{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forgot Password</legend>
                <div class="form-group">
                    {{ form.EMAIL.label(class="form-control-label") }}
                    {% if form.EMAIL.errors %}
                        {{ form.EMAIL(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.EMAIL.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.EMAIL(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.Submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock content %}
