<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <!-- Bootstrap CSS -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Blood Positive</title>

  </head>
  <body>
    {%include 'includes/_navbar.html' %}
    <div class="container" style="margin-top: 60px">
      {% include 'includes/_messages.html' %}
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            
            {% block content %}{% endblock %}
          </div>

        </div>
      </main>
    </div>


     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="//cdn.ckeditor.com/4.12.1/basic/ckeditor.js"></script>
     <script type="text/javascript">
        CKEDITOR.replace('editor')
    </script>
  </body>
</html>
