{% extends 'layout.html' %}
{% block body %}
  <h1>Login</h1>
  {% include 'includes/_messages.html' %}
  <form action="" method="POST">
    <div class="form.group">
      <label>Username</label>
      <input type="text" name="USERNAME" class="form-control" value ={{request.form.USERNAME}}>
    </div>
    <div class="form-group">
      <label>PASSWORD</label>
      <input type="text" name="PASSWORD" class="form-control" value ={{request.form.PASSWORD}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}
