
  {% extends 'layout.html' %}

  {% block body %}
    <h1>Register</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
      <div class="form-group">
        {{render_field(form.NAME, class_="form-control")}}

        {{render_field(form.USERNAME, class_="form-control")}}

        {{render_field(form.PASSWORD, class_="form-control")}}

        {{render_field(form.confirm, class_="form-control")}}

        {{render_field(form.EMAIL, class_="form-control")}}

        {{render_field(form.BLOOD_GROUP, class_="form-control")}}

        {{render_field(form.PHONE_NUMBER, class_="form-control")}}

        {{render_field(form.ADDRESS, class_="form-control")}}

        {{render_field(form.CITY, class_="form-control")}}
      </div>
      <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>

  {% endblock %}
